@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --color-yellow: #f9c74f;
  --color-purple: #9d4edd;
}

*>* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box !important;
  background-color: rgba(228, 227, 227, 0.425) !important;
}

.main-div {
  width: 60%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}



.custom-header {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 14px 28px,
    rgba(0, 0, 0, 0.02) 0px 10px 10px;
}

.bg-yellow {
  background-color: var(--color-yellow);
}

.bg-purple {
  background-color: var(--color-purple);
}

.chart-title {
  left: 0;
  right: 0;
  top: 40%;
  text-align: center;
}

.label-pill {
  width: 0.5rem;
  height: 0.5rem;
  padding: 0.75rem 0 0.75rem 0;
  border-radius: 20px;
}

.create-transaction {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 10px 15px, rgba(0, 0, 0, 0.1) 0px 10px 10px;
}

.custom-transaction {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 4px, rgba(0, 0, 0, 0.02) 0px 4px 4px;
  height: 35px;
}